{% extends 'layout.html' %}

{% block main %}
<style>
    .header{
        color:#454545;
        border-left:8px solid #4A5064;
        background: #fff;
        height: 50px;
        line-height: 50px;
        padding-left:24px;
        margin:0 0 20px 0;
    }
    .header h3{
        margin:0;
        line-height:50px;
    }
    .handle{
        padding:20px 0  ;
        background-color: #fff;
    }
    .handle a.btn{
        margin-left: 10px;
    }
    table{
        background: #fff;
        border-bottom: 1px solid #ddd;
    }
    table th,table td{
        text-align: center;
    }
    table td{
        vertical-align: middle !important;
    }
    table td .btn{
        margin-right: 5px;
    }
    table td input[type='checkbox']{
        width:24px;
        height:24px;
        background: #fff;
        border-radius: 0;
    }
    .handle,table{
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
    .dropdown-menu{
        min-width:100px;
    }
    td.textl{
        text-align: left;
    }
    td .tag{
        margin-right: 5px;
    }
</style>
<div class="header">
    <h3>文章管理</h3>
</div>
<ul class="nav nav-tabs">
    <li class="active"><a href="/admin/article">所有文章</a></li>
</ul>
<div class="handle">
    <a href="/admin/add_art" class="btn btn-primary"><i class="glyphicon glyphicon-plus-sign"></i>添加文章</a>
    <a href="" class="btn btn-warning" id="del_all"><i class="glyphicon glyphicon-minus-sign"></i>批量删除</a>
    <div class="col-md-5 pull-right">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ><span class="search-key" style="margin-right: 4px;">文章名</span><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">文章名</a></li>
                    <li><a href="#">作者</a></li>
                </ul>
            </div><!-- /btn-group -->
            <input type="text" class="form-control query">
            <span class="input-group-btn">
                <button class="btn btn-default search-btn" type="button">Search</button>
              </span>
        </div>
    </div>
</div>
<!--table-->
<table class="table">
    <tr><th colspan="2">文章名称</th><th>分类</th><th>作者</th><th>发布日期</th><th>操作</th></tr>
    {%for article in articles%}
    <tr><td><input type="checkbox" name="p_id" value="{{article._id.toString()}}"></td><td class="textl">{{article.a_title}}</td><td>{%for tag in article.a_tag%}<span class="tag">{{tag.name}}</span>{%endfor%}</td><td>{{article.author.uname}}</td><td>{{article.addTime|date('Y年m月d日 H:i:s', -8*60)}}</td><td>
       <a href="/admin/up_art?_id={{article._id.toString()}}" class="btn btn-sm btn-primary">修改</a><a href="/api/del_art?_id={{article._id.toString()}}" class="btn btn-sm btn-primary">删除</a></td></tr>
    {%endfor%}
</table>
<!--分页-->
<ul class="pager">
    {%if page==1&&page==pages%}
    <li class="previous disabled"><a href="javascript:;"><span>&larr;</span> 上一页</a></li>
    <li class="next disabled"><a href="javascript:;">下一页 <span>&rarr;</span></a></li>
    {%elseif page==1%}
    <li class="previous disabled"><a href="javascript:;"><span>&larr;</span> 上一页</a></li>
    <li class="next"><a href="/admin/article?page={{page+1}}">下一页 <span>&rarr;</span></a></li>
    {%elseif page==pages%}
    <li class="previous"><a href="/admin/article?page={{page-1}}"><span>&larr;</span> 上一页</a></li>
    <li class="next disabled"><a href="javascript:;">下一页 <span>&rarr;</span></a></li>
    {%else%}
    <li class="previous"><a href="/admin/article?page={{page-1}}"><span>&larr;</span> 上一页</a></li>
    <li class="next"><a href="/admin/article?page={{page+1}}">下一页 <span>&rarr;</span></a></li>
    {%endif%}
</ul>
<script>
    //修改内容
    $('.dropdown-menu a').on('click',function () {
        $('.search-key').text($(this).text());
    })
    //批量删除
    $('#del_all').on('click',function (e) {
        e.preventDefault();
        var p_ids=[];
        $('input[name="p_id"]:checked').each(function () {
            p_ids.push($(this).val());
        });
        if(p_ids==[]){
            return;
        }
        console.log(p_ids);
        $.post('/api/del_art',{_ids:p_ids},function (data) {
            if(data){
                location.reload();
            }else{
                alert('删除失败');
            }
        })
    })
    //查询
    $('.search-btn').on('click',function () {
        var query = $('.query').val();
        if(query==''){
            alert('查询条件不能为空');
            return;
        }else{
            var key =$('.search-key').text();
            if(key=='文章名'){
                key='a_title';
            }else{
                key='author';
            }
            location.href='/admin/article?'+key+'='+query;
        }
    })

</script>
{% endblock %}